<nav class="mb-12 flex items-center justify-between py-6">
  <div class="flex flex-shrink-0 items-center">
   <a routerLink="/home"><img class="mx-2 w-16" src="/assets/images/logo/benLogo2.png" alt="Logo"></a>
  </div>

  <!-- "Get in Touch" button -->
  <button id="get-in-touch-btn" (click)="openGetInTouchModal()"
    class="px-6 py-2  text-white font-semibold rounded-md hover:bg-neutral-800 transition duration-300 ease-in-out">
    Get in Touch
  </button>

  <!-- "Services" button -->
  <button id="service-btn" (click)="navigateToMyService()"
    class="px-4 py-2 text-white font-semibold rounded-md hover:bg-neutral-800 transition duration-300 ml-4">
    Services
  </button>

  <!-- "Blogs" button -->
  <button id="blogs-btn" (click)="navigateToBlog()"
    class="px-4 py-2 text-white font-semibold rounded-md hover:bg-neutral-800 transition duration-300 ml-4">
    Blogs
  </button>

  <!-- Social Media Icons - Initially in Header -->
  <div id="social-icons" class="flex gap-6 items-center transition-all duration-300 z-100">
    <div class="group relative">
      <i
        class="bi bi-linkedin mr-2 cursor-pointer text-2xl hover:text-blue-600 transition-transform transform hover:scale-110 duration-300"></i>
      <div
        class="absolute left-1/2 bottom-[-20px] translate-x-[-50%] scale-0 group-hover:scale-100 group-hover:bottom-[35px] text-white bg-black rounded-md px-2 py-1 text-sm transition-all duration-300 ease-in-out">
        LinkedIN
      </div>
    </div>
    <div class="group relative">
      <i
        class="bi bi-github cursor-pointer text-2xl hover:text-gray-800 transition-transform transform hover:scale-110 duration-300"></i>
      <div class="absolute left-1/2 bottom-[-20px] translate-x-[-50%] scale-0 group-hover:scale-100 group-hover:bottom-[35px] text-white bg-black rounded-md px-2 py-1 text-sm transition-all duration-300 ease-in-out">
        GitHub
      </div>
    </div>
    <div class="group relative">
      <i
        class="bi bi-twitter-x cursor-pointer text-2xl hover:text-blue-500 transition-transform transform hover:scale-110 duration-300"></i>
      <div
        class="absolute left-1/2 bottom-[-20px] translate-x-[-50%] scale-0 group-hover:scale-100 group-hover:bottom-[35px] text-white bg-black rounded-md px-2 py-1 text-sm transition-all duration-300 ease-in-out">
        Twitter
      </div>
    </div>
    <div class="group relative">
      <i
        class="bi bi-instagram cursor-pointer text-2xl hover:text-pink-600 transition-transform transform hover:scale-110 duration-300"></i>
      <div
        class="absolute left-1/2 bottom-[-20px] translate-x-[-50%] scale-0 group-hover:scale-100 group-hover:bottom-[35px] text-white bg-black rounded-md px-2 py-1 text-sm transition-all duration-300 ease-in-out">
        Instagram
      </div>
    </div>
  </div>
</nav>




