<div class="border-b border-neutral-900">
  <h1 class="my-20 text-center text-4xl">Projects</h1>
  <div *ngFor="let project of projects">
    <div class="mb-8 flex flex-wrap lg:justify-center">
      <div class="w-full lg:w-1/4">
      <img [src]="project.image" alt="{{ project.title }}" width="150" height="150" class="mb-6 rounded">
      </div>
      <div class="w-full max-w-xl lg:w-3/4">
        <h6 class="mb-2 font-semibold">{{ project.title }}</h6>
        <p class="mb-2 mt-4 text-sm text-neutral-400">{{ project.year }}</p>
        <p class="mb-4 text-neutral-400" [innerHTML]="project.description"></p>
        <span *ngFor="let tech of project.technologies" class="mr-2 mb-4 rounded bg-neutral-900 px-2 py-1 text-sm font-medium text-purple-900">
          {{ tech }}
        </span>
      </div>
    </div>
  </div>
</div>
