<div class="border-b border-neutral-900">
<div class="container mx-auto px-4 py-8">
  <h2 class="text-4xl text-center mb-12">What My Clients Say</h2>

  <!-- Animate all cards together with move-card-container class -->
  <div class="move-card-container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <div *ngFor="let testimonial of testimonials" class="bg-neutral-800 shadow-lg rounded-lg p-6 w-full sm:w-80 mx-auto h-auto flex flex-col items-center justify-between">
      <img [src]="testimonial.image" alt="{{testimonial.name}}" class="w-24 h-24 rounded-full mb-4">
      <h3 class="text-xl sm:text-xl font-semibold text-center">{{ testimonial.name }}</h3>
      <p class="text-center text-gray-500">{{ testimonial.city }}, {{ testimonial.country }}</p>
      <p class="mt-4 text-white-900 text-center italic text-sm">"{{ testimonial.feedback }}"</p>
    </div>
  </div>
</div>
</div>
