<div
  #aboutSection
  class="border-b border-neutral-900 pb-4"
>
  <h1 class="my-20 text-center text-4xl">
    About <span class="text-neutral-500">Me</span>
  </h1>
  <div class="flex flex-wrap">
    <!-- Left Section: Image -->
    <div class="w-full lg:w-1/2 lg:p-8">
      <div class="flex items-center justify-center">
        <img
          class="rounded-2xl"
          [src]="AboutSectionImage"
          alt="aboutMeImage"
        />
      </div>
    </div>

    <!-- Right Section: About Text -->
    <div class="w-full lg:w-1/2">
      <div class="flex justify-center lg:justify-start">
        <p class="my-2 text-xl max-w-xl py-6">{{ about }}</p>
      </div>
    </div>
  </div>
</div>
