<div class="border-b border-neutral-900 pb-4 lg:mb-35">
  <div class="flex flex-wrap">
    <div class="w-full lg:w-1/2 lg:p-8">
      <div class="flex flex-col items-center lg:items-start">
        <h1 class="pb-2 text-4xl font-thin tracking-tight lg:mt-10 lg:text-6xl">{{name}}</h1>
        <span class=" mb-2 text-center bg-gradient-to-r from-pink-300 via-slate-500 to-purple-500 bg-clip-text text-2xl tracking-tight text-transparent">
          {{profession}}
        </span>
        <p class="my-2 max-w-xl text-xl py-6 font-light tracking-tight">{{ heroContent }}</p>
        <!-- Download CV Button -->
        <div class="pl-1 flex justify-center lg:justify-start">
          <button class="button-29" role="button">
        <!-- <a href="/assets/files/BenResume.pdf" download="BenResume.pdf"class=" heroHighLights rounded-3xl border-4 border-neutral-800 p-4 bg-neutral-800 text-white hover:bg-white hover:text-black transition-all duration-300 ease-in-out"> -->
        <a [href]= benResume download="BenResume.pdf" > Download CV </a>
        </button>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/2 lg:p-8">
      <div class="flex justify-center">
        <img [src]= MyheroSectionImage alt="BenImage">
      </div>
    </div>
  </div>
  <div class="border-neutral-800 pb-14">
    <div class="flex flex-wrap items-center justify-center gap-8">
      <!-- Box 1 -->
      <div
        class="heroHighLights rounded-2xl border-4 border-neutral-800 p-6 bg-neutral-800 text-white hover:bg-white hover:text-black transition-all duration-300 ease-in-out">
        <h4>10+ Years of Experience</h4>
      </div>

      <!-- Box 2 -->
      <div
        class="heroHighLights rounded-2xl border-4 border-neutral-800 p-6 bg-neutral-800 text-white hover:bg-white hover:text-black transition-all duration-300 ease-in-out">
        <h4>26+ Projects Completed</h4>
      </div>

      <!-- Box 3 -->
      <div
        class="heroHighLights rounded-2xl border-4 border-neutral-800 p-6 bg-neutral-800 text-white hover:bg-white hover:text-black transition-all duration-300 ease-in-out">
        <h4>12+ Technologies Mastered</h4>
      </div>

      <!-- Box 4 -->
      <div
        class="heroHighLights rounded-2xl border-4 border-neutral-800 p-6 bg-neutral-800 text-white hover:bg-white hover:text-black transition-all duration-300 ease-in-out">
        <h4>500+ Code Commits</h4>
      </div>
    </div>
  </div>
</div>
