<app-hero></app-hero>
<app-about></app-about>
<app-technologies></app-technologies>
<app-projects></app-projects>
<!-- <app-services></app-services> -->
<app-contact-modal></app-contact-modal>
<app-my-team></app-my-team>
<app-testimonial></app-testimonial>
<!-- <app-experience></app-experience> -->
<app-contact></app-contact>




<!-- <div class="main-container">
    <div class="background-container">
        <div class="background-effect"></div>
    </div>
    <div class="content-container">

    </div>
</div> -->
