<div class="border-b border-neutral-900 pb-20">
  <h1 class="my-10 mt-12 text-center text-4xl">Contact <span class="text-neutral-500">Me</span></h1>
  <div class=" contact-info text-center tracking-tighter">
    <p class="my-4"><i class="bi bi-geo-fill text-blue-600"></i> {{ contact.address }}</p>
    <p class="my-4"><i class="bi bi-telephone-fill text-blue-600"></i> {{ contact.phoneNo1 }}</p>
    <p class="my-4"><i class="bi bi-telephone-fill text-blue-600"></i> {{ contact.phoneNo2 }}</p>
    <a href=""><i class="bi bi-envelope-at-fill text-blue-600"></i> {{ contact.email1 }}</a> <br>
    <a href=""><i class="bi bi-envelope-at-fill text-blue-600"></i> {{ contact.email2 }}</a>
  <!-- Mapbox Map -->
  <div class="map-container mt-12" data-aos="zoom-in">
      <div id="map" class="rounded-lg overflow-hidden shadow-lg" style="height: 400px;"></div>
    </div>
  </div>
</div>

