
/* Contact Information */
.contact-info p,
.contact-info a {
  font-size: 1rem;
  line-height: 1.75rem;
}

/* Contact Form */
.contact-form input,
.contact-form textarea {
  background-color: #2d3748;
  color: #cbd5e0;
}


/* Map */
.map-container {
  height: 400px;
  width: 100%;
}


@media (max-width: 1024px) {
  /* Adjust layout for smaller screens */
  .contact-info,
  .contact-form {
    width: 100%;
  }

  .flex {
    flex-direction: column;
  }
}
