/* Animation for the blog summary */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.blog-summary-container {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.blog-summary {
  font-size: 1.25rem;
  color: #F0F0F0;  /* Light grey color for better contrast */
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}


/* Styling the blog cards */
.blog-posts {
  padding: 20px;
}

.blog-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.read-more-link {
  text-decoration: none;
  color: #4F46E5;
}

.read-more-link:hover {
  text-decoration: underline;
}

nav a {
  cursor: pointer;
}

nav a.active {
  color: #4F46E5; /* Highlight color */
  font-weight: bold;
}

