<div class="blog-summary-container">
  <p class="blog-summary animate-fadeIn">
    Explore my journey, tips, and insights as a developer. I have a passion for creating user-friendly, visually appealing, and functional web applications. Each project I take on helps me grow as a developer, and I enjoy sharing my knowledge with others. Through my blog, I hope to inspire others and contribute to the amazing community of developers. Stay tuned for more updates!
  </p>
</div>

<!-- Search Input Field with Clear Button -->
<div class="flex justify-center mb-8">
  <div class="relative w-full md:w-1/2">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (ngModelChange)="onSearchQueryChange($event)"
      placeholder="Search blogs..."
      class="w-full h-10 px-4 py-2 rounded-md bg-gray-700 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-white"
    />
    <button
      *ngIf="searchQuery"
      (click)="clearSearch()"
      class="absolute inset-y-0 right-0 flex items-center px-3 text-gray-400 hover:text-red-600"
    >
      &times;
    </button>
  </div>
</div>


<div class="container mx-auto px-6 lg:px-16 py-12">
  <h1 class="text-center text-4xl bg-gradient-to-r from-pink-300 via-slate-500 to-purple-500 bg-clip-text tracking-tight text-transparent font-bold mb-8">Blogs Posts</h1>

<nav class="flex justify-center space-x-4 mb-8 text-white">
  <a (click)="filterBlogs(null)" [ngClass]="{'active': isActiveCategory(null)}" class="hover:text-cyan-600 transition">All</a>
  <a (click)="filterBlogs('Design')" [ngClass]="{'active': isActiveCategory('Design')}" class="hover:text-cyan-600 transition">Design</a>
  <a (click)="filterBlogs('Angular')" [ngClass]="{'active': isActiveCategory('Angular')}" class="hover:text-cyan-600 transition">Angular</a>
  <a (click)="filterBlogs('Development')" [ngClass]="{'active': isActiveCategory('Development')}" class="hover:text-cyan-600 transition">Development</a>
  <a (click)="filterBlogs('Leadership')" [ngClass]="{'active': isActiveCategory('Leadership')}" class="hover:text-cyan-600 transition">Leadership</a>
  <a (click)="filterBlogs('Management')" [ngClass]="{'active': isActiveCategory('Management')}" class="hover:text-cyan-600 transition">Management</a>
  <a (click)="filterBlogs('Web Architecture')" [ngClass]="{'active': isActiveCategory('Web Architecture')}" class="hover:text-cyan-600 transition">Web Architecture</a>
</nav>


  <!-- Blog Grid -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 w-full ">
    <!-- Display filtered blogs -->
    <div *ngFor="let blog of displayedBlogs" class="bg-gray-700 shadow-md rounded-lg overflow-hidden">
      <img [src]="blog.imageUrl" alt="{{ blog.title }}" class="w-full h-48 object-cover">
      <div class="p-6">
        <h2 class="font-bold text-xl mb-2">{{ blog.title }}</h2>
        <p class="text-sm text-gray-400 mb-4">{{ blog.excerpt }}</p>
        <a [routerLink]="['/blog', blog.id]" class="text-cyan-600 hover:underline">Read more</a>
      </div>
    </div>
  </div>

  <!-- Load more button -->
  <div class="flex justify-center mt-8" *ngIf="displayedBlogs.length < filteredBlogs.length">
    <button (click)="loadMore()"  class="px-6 py-2 bg-neutral-900 text-white font-semibold rounded-md hover:bg-neutral-950 transition">
      Load more
    </button>
  </div>
</div>


